<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.matrix.mapper.poko.GroupinfoMapper">
  <resultMap id="BaseResultMap" type="jp.matrix.dao.poko.Groupinfo">
    <id column="GPID" jdbcType="DECIMAL" property="GPID" />
    <result column="GPNAME" jdbcType="OTHER" property="GPNAME" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GPID, GPNAME
  </sql>
  <select id="selectByExample" parameterType="jp.matrix.dao.poko.GroupinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from POKO.GROUPINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from POKO.GROUPINFO
    where GPID = #{GPID,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from POKO.GROUPINFO
    where GPID = #{GPID,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="jp.matrix.dao.poko.GroupinfoExample">
    delete from POKO.GROUPINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jp.matrix.dao.poko.Groupinfo">
    insert into POKO.GROUPINFO (GPID, GPNAME)
    values (#{GPID,jdbcType=DECIMAL}, #{GPNAME,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="jp.matrix.dao.poko.Groupinfo">
    insert into POKO.GROUPINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="GPID != null">
        GPID,
      </if>
      <if test="GPNAME != null">
        GPNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="GPID != null">
        #{GPID,jdbcType=DECIMAL},
      </if>
      <if test="GPNAME != null">
        #{GPNAME,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jp.matrix.dao.poko.GroupinfoExample" resultType="java.lang.Long">
    select count(*) from POKO.GROUPINFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update POKO.GROUPINFO
    <set>
      <if test="record.GPID != null">
        GPID = #{record.GPID,jdbcType=DECIMAL},
      </if>
      <if test="record.GPNAME != null">
        GPNAME = #{record.GPNAME,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update POKO.GROUPINFO
    set GPID = #{record.GPID,jdbcType=DECIMAL},
      GPNAME = #{record.GPNAME,jdbcType=OTHER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jp.matrix.dao.poko.Groupinfo">
    update POKO.GROUPINFO
    <set>
      <if test="GPNAME != null">
        GPNAME = #{GPNAME,jdbcType=OTHER},
      </if>
    </set>
    where GPID = #{GPID,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.matrix.dao.poko.Groupinfo">
    update POKO.GROUPINFO
    set GPNAME = #{GPNAME,jdbcType=OTHER}
    where GPID = #{GPID,jdbcType=DECIMAL}
  </update>
</mapper>